blinker==1.4
Flask==1.1.2
flask-redis==0.4.0
Flask-RESTful==0.3.8
Flask-RQ2==18.3
Flask-SQLAlchemy==2.4.4
honeybadger==0.4.0
jsonschema==3.2.0
pytest==6.1.2
requests==2.23.0
rq-dashboard==0.6.1
sqlalchemy-mixins==1.2.1
supervisor==4.2.1
